.slider-bg{
    background-color: #FEEAE9;
}
.btn-color{
    background-color: #FF136F;
}
.w-color{
    background: #FF9C35;
}
.b-color{
    background: #FF589B;
}
.s-color{
    background: #4289FF;
}